.description {
    width: 100%;
    
}

.description__inner {
    display: flex;
    flex-direction: column;
    // .action__rectangle {
    //         // position: relative;
    //         // background: transparent;
    // }

    // .action__image {
    //     background: transparent;
    //     position: absolute;
    //     top: 29px;
    //     left: 35px;
    // }
}   