$grad3: #DF5950;
$grad4: #451046;

input[type=email] {
   margin-top: 20px;
   background: rgba(163, 161, 161, .8);
   width: 353px;
   height: 44px;
   border-radius: 50px;
}

::placeholder {
    color: white;
    padding-left: 20px;
}

.news__child {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.item {
    position: relative;
}

.social-media__item {
    margin: auto;
    margin-left: 10px;
    
}

.sub {
    padding: 10px 30px;
    border-radius: 50px;
    position: absolute;
    width: 150px;
    display: block;
    right: 0px;
    top: 20px;
    background: linear-gradient(#DF5950, #451046);
}

.vk {
    position: absolute;
    left: 22px;
    top: 20px;
}

.fb {
    top: 20px;
    position: absolute;
    left: 30px;
    
}
.youtube {
    display: block;
    top: 20px;
    position:absolute;
    left: 25px;   
}

.fa-instagram {
    font-size: 30px;
    position: absolute;
    left: 22px;
    top: 10px; 
}




