.profession{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.gadges__item {
  margin-right: 20px;
   flex: 1;
   margin-top: 40px;
   position: relative;
}

.gadges__item  img {
    display: block;
    margin: auto;
    
}

.gadgets {
    display: flex;
    margin-top: 187px;
    flex-flow: wrap;
    justify-content: center;
}






