.profession{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.gadges__item {
 margin-right: 20px;
//  flex: 1;

}

.gadgets {
    display: flex;
    margin-top: 187px;
    align-items: center;
    justify-content: center;
    
}


// .gadges__item-1 {
//     // flex: 70%;
// }