.quick-start {
    
    width: 100%;
    margin-top: 200px;
}

.quick-start__progress {
    display: flex;
    max-width: 1300px;
}

.quick-start__contain {
   display: flex;
   margin-bottom: 50px;
}

.quick-start__item {
        margin-top: 100px;
       
}

.quick-start__progress p {
   margin-top: 40px;
}

@media (max-width: 760px) {
    .quick-start__item {
            margin-left: 20px;
    }


    .quick-start__progress  {
        flex-direction: column;
    }
    
}


@media (max-width: 1024px) {
    .quick-start__progress  {
        flex-direction: column;
    }
    
}

