.study {
    width: 100%;
}


.study__child {
    margin: auto;
    margin-top: 180px;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.time__left { display: flex; flex-direction: column; position: relative; }


.time__right { display: flex; flex-direction: column; margin-right: 180px;  position: relative;  }


.time__left div,
.time__right div {

    position: relative;
    width: 200px;

}

.time__left div  p {
    margin-left: 20px;
    width: 200px;
}

.time__left div  p {
    margin-right: 60px;
}

.time {
    margin-bottom: 170px;
    margin-top: 100px;
    display: flex;
    position: relative;

    div {
        margin-top: 100px;
    }


    p {
        margin-top: 20px;
    }

}


    
    .timeline {
       position: relative;
       right: 80px;
       display: block;
    }

    .lil__stick {
        position: absolute;
        left: 200px;
        top: 5px;
        width: 100px;  
    }

    .lil__stick2 {
        top: 80px;
        left: 200px;
    }

    .lil__stick3 {
        top: 80px;
    }

    .lil__stick4 {
        top: 80px;
    }


    .lil__stick5 {
        top: 80px;
        left: -80px;
    }
    

    .lil__stick6 {
      left: -80px;
      top: 80px;
    }

    .lil__stick7 {
        left: -80px;
        top: 80px;
      }
   


      @media (min-width: 320px) {

           .time {
               width: 50vh;
           }
      }
   
