.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards__btn {
  background: transparent;
  border: white solid 3px;
}

.elipse-rotation {
  transform: rotate(140deg);
  margin-right: 20px;
}

.contain h2 {
  display: inline-block;
}

.ts__child {
  margin-top: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 304px;
}

.card {
  color: white;
  text-align: center;
}
.card .btn {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 40px;
  background: transparent;
  border: 1px white solid;
}

@media (max-width: 760px) {
  .ts__child {
    flex-wrap: wrap;
  }
}
.description {
  width: 100%;
}

.description__inner {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.description__inner .action__text p {
  margin-top: 40px;
}
.description__inner .action__image {
  position: absolute;
  top: 96px;
  left: 40px;
  right: 40px;
}
.description__inner .action__text {
  width: 636px;
  margin-top: 80px;
}
.description__inner .action_contain {
  position: relative;
}

@media (max-width: 760px) {
  .action__rectangle {
    margin-right: 40px;
  }

  .action__image {
    margin-right: 40px;
  }
}
.quick-start {
  width: 100%;
  margin-top: 200px;
}

.quick-start__progress {
  display: flex;
  max-width: 1300px;
}

.quick-start__contain {
  display: flex;
  margin-bottom: 50px;
}

.quick-start__item {
  margin-top: 100px;
}

.quick-start__progress p {
  margin-top: 40px;
}

@media (max-width: 760px) {
  .quick-start__item {
    margin-left: 20px;
  }
}
.profession {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

.gadges__item {
  margin-right: 20px;
  flex: 1;
  margin-top: 40px;
}

.gadges__item img {
  display: block;
  margin: auto;
}

.gadgets {
  display: flex;
  margin-top: 187px;
  flex-flow: wrap;
  justify-content: center;
}

.partners {
  width: 100%;
  margin-top: 231px;
}

.partners__images {
  margin-top: 117px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.partners__images img {
  display: block;
}

.partners__images img::after {
  content: "";
  border-bottom: 1px solid #c2bdbd;
  border-right: 1px solid white;
  padding: 10px;
}

@media (max-width: 760px) {
  .partners__images {
    grid-template-columns: repeat(1, 1fr);
  }
}
.study__child {
  margin: auto;
  margin-top: 180px;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time__left {
  display: flex;
  flex-direction: column;
  position: relative;
}

.time__right {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
  position: relative;
}

.time__left div,
.time__right div {
  position: relative;
  width: 200px;
}

.time__left div p {
  margin-left: 20px;
  width: 200px;
}

.time__left div p {
  margin-right: 60px;
}

.time {
  margin-bottom: 170px;
  margin-top: 100px;
  display: flex;
  position: relative;
}
.time div {
  margin-top: 100px;
}
.time p {
  margin-top: 20px;
}

.timeline {
  position: relative;
  right: 80px;
  display: block;
}

.lil__stick {
  position: absolute;
  left: 200px;
  top: 5px;
  width: 100px;
}

.lil__stick2 {
  top: 80px;
  left: 200px;
}

.lil__stick3 {
  top: 80px;
}

.lil__stick4 {
  top: 80px;
}

.lil__stick5 {
  top: 80px;
  left: -80px;
}

.lil__stick6 {
  left: -80px;
  top: 80px;
}

.lil__stick7 {
  left: -80px;
  top: 80px;
}

input[type=email] {
  margin-top: 20px;
  background: rgba(163, 161, 161, 0.8);
  width: 353px;
  height: 44px;
  border-radius: 50px;
}

::-moz-placeholder {
  color: white;
  padding-left: 20px;
}

:-ms-input-placeholder {
  color: white;
  padding-left: 20px;
}

::placeholder {
  color: white;
  padding-left: 20px;
}

.news__child {
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.item {
  position: relative;
}

.social-media__item {
  margin: auto;
  margin-left: 10px;
}

.sub {
  padding: 10px 30px;
  border-radius: 50px;
  position: absolute;
  width: 150px;
  display: block;
  right: 0px;
  top: 20px;
  background: linear-gradient(#DF5950, #451046);
}

.vk {
  position: absolute;
  left: 22px;
  top: 20px;
}

.fb {
  top: 20px;
  position: absolute;
  left: 30px;
}

.youtube {
  display: block;
  top: 20px;
  position: absolute;
  left: 25px;
}

.fa-instagram {
  font-size: 30px;
  position: absolute;
  left: 22px;
  top: 10px;
}

img {
  max-width: 100%;
}

.darkwhite {
  font-weight: 400;
  font-size: 16px;
}

.page {
  margin: auto;
  max-width: 1600px;
  width: 100%;
}

body {
  overflow-x: hidden;
  background: #000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 1.5;
}

.btn {
  background: linear-gradient(#C89AFC, #7C6AFA);
  padding: 10px 30px;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  margin: auto;
  max-width: 1400px;
  width: 100%;
}

h1, h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.header {
  padding: 55px;
  padding-top: 15px;
  background: url(./img/main-screen__bgc.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.header .nav {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.header .nav a {
  margin-left: 56px;
}
.header .counter {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-left: 312px;
  width: 400px;
  height: 400px;
}
.header .counter .counter__num {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  width: 207px;
  height: 112px;
  margin-left: 25px;
  margin-top: 20px;
  padding: 45px;
}
.header .counter .counter__num h3 {
  margin-left: 10px;
}
.header .counter .counter__inner {
  text-align: center;
  position: relative;
  right: 30px;
  bottom: 20px;
  display: flex;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #121212;
  width: 100%;
  height: 90px;
}
.stats .stats__btn-1 {
  background: linear-gradient(#DF5950, #451046);
}

.elipse-rotation-1 {
  transform: rotate(180deg);
  margin-right: 40px;
}

@media (max-width: 760px) {
  h2 {
    font-size: 25px;
  }

  .header {
    background-position: right;
  }

  .nav {
    align-items: center;
    justify-content: center;
  }

  .links {
    width: 300px;
    background: rgba(240, 128, 128, 0.6);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    padding-right: 80px;
  }

  .links a {
    display: block;
  }

  .btn {
    display: inline-block;
    padding: 0;
    height: 50px;
    width: 130px;
    padding-top: 10px;
    text-align: center;
    margin-top: 15px;
  }

  .counter {
    position: relative;
    bottom: 100px;
  }
}
.progress-bar {
  width: 440px;
  height: 6px;
  border-radius: 15px;
  background: linear-gradient(#C89AFC, #7C6AFA);
  position: relative;
  z-index: 4;
}

.white {
  width: 714px;
  background: white;
}/*# sourceMappingURL=main.css.map */